Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,

  -bugprone-exception-escape,

  -modernize-use-trailing-return-type,
  -modernize-use-auto,
  -modernize-return-braced-init-list,
  -modernize-pass-by-value,
  -modernize-avoid-c-arrays,
  -modernize-use-designated-initializers,

  -readability-uppercase-literal-suffix,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-convert-member-functions-to-static

WarningsAsErrors: ''

HeaderFilterRegex: '^/Users/alexandre/dev/otherSide/src/'

CheckOptions:
  - key: readability-identifier-length.MinimumVariableNameLength
    value: 2
  - key: readability-identifier-length.MinimumParameterNameLength
    value: 2
  - key: readability-identifier-length.MinimumLoopCounterNameLength
    value: 1
  - key: readability-identifier-length.AllowedShortNames
    value: 'i,j,k,fd,ev,io,ec'